* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color: #E72E2E;
    font-family: "Pirata One";
    letter-spacing: 1.2pt;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    text-align: center;
    width:100%;
}

/* Portrait layout (default) */
.app {}
.app img {
    position: absolute;
    bottom: 10px;
    left: 0;
    max-width: 90%;
}

#hello-world {
    font-size: 1.6rem;
    letter-spacing: 3pt;
    font-weight: 900;
    color: #ffffff;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {}
}

h1 {
    font-size: 3rem;
}
